#shy{
    
    border: 4px solid hotpink;
    width:150px;
    margin-left:500px;
    padding-left: 90px;
    position:fixed;
    
    
}


#are{
    
     position:absolute;
     top:140px;
     margin-left:300px
    
    
    
    
}


#are1{
    
     position:absolute;
     top:340px;
     margin-left:800px
    
 
}


#are2{
    
     position:absolute;
     top:480px;
     margin-left:100px
    
 
}


#are3{
    
     position:absolute;
     top:550px;
     margin-left:900px
    
 
}


#are4{
    
     position:absolute;
     top:670px;
     margin-left:1000px
    
 
}



#are5{
    
     position:absolute;
     top:780px;
     margin-left:200px
    
 
}




#are6{
    
     position:absolute;
     top:880px;
     margin-left:350px
    
 
}

#are7{
    
     position:absolute;
     top:1530px;
     margin-left:250px
    
 
}


#are8{
    
     position:absolute;
     top:1080px;
     margin-left:750px;
    
 
}

#are9{
    
     position:absolute;
     top:1380px;
     margin-left:25px;
    
 
}

#are10{
    
     position:absolute;
     top:1450px;
     margin-left:820px;
    
 
}



#people{
    
    margin-left:470px;
    position:absolute;
    top:2200px;
    border-bottom: 3px solid hotpink;
     
}



#wrong{
    
    
    position:absolute;
     top:2650px;
     margin-left:220px;   

}



#wrong1{
    
    
    position:absolute;
     top:2750px;
     margin-left:820px;   

}



#wrong2{
    
    
     position:absolute;
     top:3050px;
     margin-left:950px;   

}



#wrong3{
    
    
     position:absolute;
     top:3150px;
     margin-left:1050px;   

}

#wrong4{
    
    
     position:absolute;
     top:3050px;
     margin-left:250px;   

}


#wrong5{
    
    
     position:absolute;
     top:3350px;
     margin-left:150px;   

}


#wrong6{
    
    
     position:absolute;
     top:3390px;
     margin-left:860px;   

}


#wrong7{
    
    
     position:absolute;
     top:3450px;
     margin-left:410px;   

}


#wrong8{
    
    
     position:absolute;
     top:3520px;
     margin-left:250px;   

}



#wrong9{
    
    
     position:absolute;
     top:3640px;
     margin-left:800px;   

}



#wrong10{
    
    
     position:absolute;
     top:3910px;
     margin-left:400px;   

}


#end{
    
    margin-left:430px;
    position:absolute;
    top:4800px;
    border-bottom: 3px solid skyblue;
     
    
    
    
}




