#Be{
    
    
/*
  position: fixed;
  right:20px;
*/
    
    margin-left: 50%;  
 
}
    
#more{
    
    
    margin-left: 50%;
  
    
}
    
#positive{
    
    
    
    margin-left: 50%;  
   
    
}


div{
    
    border:3px solid black;    
    padding-left:35px;
    padding-top: 35px;
    width: 50px;
    display: inline-block;
    height:50px;
    
    
}

    

#AND{
    
    
     margin-left: 50%; 
     
}

       
p{
    margin-left: 50%; 
   
    
}


    









