#one{
    
    font-size:25px;
    font-family:Helvetica;
    border-bottom: 2px solid black;
    width:255px;
    margin-left:500px; 
    
    
    
}


#two{
    
    font-size:20px;
    font-family:Helvetica;
    border-bottom: 2px solid black;
    width:210px;
    margin-left:525px;
    margin-top: -20px;
    
}


#three{
    
    font-size:15px;
    font-family:Helvetica;
    border-bottom: 2px solid black;
    width:160px;
    margin-left:550px;
    margin-top: -15px;
    
}


#four{
    
    font-size:10px;
    font-family:Helvetica;
    border-bottom: 2px solid black;
    width:105px;
    margin-left:575px;
    margin-top: -12px;
    
}



#five{
    
    font-size:5px;
    font-family:Helvetica;
    border-bottom: 1.5px solid black;
    width:55px;
    margin-left:600px;
    margin-top: -8px;
    
}


#six{
    
    font-size:3px;
    font-family:Helvetica;
    border-bottom: 1px solid black;
    width:35px;
    margin-left:610px;
    margin-top: -2px;
    margin-bottom: 0px;

    
    
}




#triangle1{
    
      font-size:1250px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -400px;
    
}


#triangle2{
    
      font-size:1050px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -1000px;
    
}

#triangle3{
    
      font-size:900px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -800px;
    
}



#triangle4{
    
      font-size:750px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -650px;
    
}

#triangle5{
    
      font-size:550px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -500px;
    
}

#triangle6{
    
      font-size:350px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -350px;
    
}


#first{
    
    font-size:75px;
    font-family:Helvetica;
    margin-top:-2500px;
    margin-bottom: 0px;
    text-align: center;
    
  
}

#second{
    
    font-size:65px;
    font-family:Helvetica;
    margin-top:500px;
    text-align: center;
    
  
}


#third{
    
    font-size:55px;
    font-family:Helvetica;
    margin-top:500px;
    text-align: center;
    
  
}


#forth{
    
    font-size:45px;
    font-family:Helvetica;
    margin-top:400px;
    text-align: center;
    
  
}



#fivth{
    
    font-size:35px;
    font-family:Helvetica;
    margin-top:350px;
    text-align: center;
    
  
}


#sixth{
    
    font-size:25px;
    font-family:Helvetica;
    margin-top:220px;
    text-align: center;
    
  
}



#last{
    
    
    font-size:12px;
    text-transform: uppercase;
    margin-left:470px;
    font-family:Helvetica;
}


#noequal{
    
    font-size:30px;
    margin-left:740px;
    position: absolute;
    top:3290px;
    
}





#filltri{
    
    font-size:20px;
    margin-left:760px;
    position: absolute;
    top:3305px;
    
    
    
    
    
}












