body{
    
    
    background-color:black;
    
    
}








#eye{
    
    font-size:400px;
    color:white;
    margin-left: 100px;
    text-align:center;
    margin-top:100px;
    
    
    
    
}


#eyes{
    
    margin-left: 630px;
    margin-top:-600px;
    
    
}


#square{
    
    font-size:150px;
    margin-bottom: -330px;
    margin-left:450px;
    color:black;
    position:absolute;
    top:115px;
    
    
}




#square1{
    
    font-size:150px;
    margin-bottom: -330px;
    margin-left:1050px;
    color:black;
    position:absolute;
    top:130px;
    
    
}


#L{
    
    font-size:300px;
    color:white;
    margin-left: 150px;
    font-family:monospace;
    margin-top:-785px;
    
    
    
}



#K{
    
    font-size:300px;
    color:white;
    margin-left: 980px;
    font-family:monospace;
    margin-top:-650px;
    
    
    
    
}


#para{
    
    font-size:15px;
    color:white;
    text-align:center;
    font-family:sans-serif;
    
   
}


#para1{
    
    font-size:15px;
    color:white;
    text-align:center;
    font-family:sans-serif;
    
   
}


#para2{
    
    font-size:15px;
    color:white;
    text-align:center;
    font-family:sans-serif;
    margin-top:600px;
    
    
    
}



#para3{
    
    font-size:15px;
    color:white;
    text-align:center;
    font-family:sans-serif;
  
      
}


#look{
    
    font-size:15px;
    color:white;
    text-align:center;
    font-family:sans-serif;
    margin-top:900px;
    text-decoration:line-through;
    
    
}









a{

   color:white; 
    
    
    
}







